<ion-content padding center text-center>
  
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username" style="margin-top: 30vh" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input placeholder="Password" type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>
    <ion-title>Breathe</ion-title>

  </ion-list>
  
  <ion-button full (click)="goLogin()">Log in</ion-button>
  
  <ion-button full color="light" routerLink="/register" routerDirection="forward">Register</ion-button>
  </ion-content>
  
  