<ion-header>
  <ion-toolbar>
    <ion-title>Breathe</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
  </ion-toolbar>
  </ion-header>


  <ion-menu side="end" menuId="end" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Dashboard</ion-item>
        <ion-item>Tasks</ion-item>
        <ion-item>Profile</ion-item>
        <ion-item routerLink="/alltask" routerDirection="forward">All task</ion-item>
        <ion-item>Change Password</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer (click)="logout()">
      <ion-toolbar color="secondary">
        <ion-title>Log out</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  
  
  <ion-content padding>

    <div style="display: block">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>

 
      
    <!-- Segment with secondary color -->
    <ion-segment (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="standard">
        <ion-label>Done 13Hrs.</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hybrid">
        <ion-label text-wrap>Doing 3Hrs</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sat">
        <ion-label text-wrap>ToDo 13Hrs</ion-label>
    </ion-segment-button>
    </ion-segment>      
              

     
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addtask" routerDirection="forward">

      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
              
    <ion-card>
        <ion-card-header>
            <ion-card-title>Current Task</ion-card-title>
            <ion-card-subtitle>Building mobile app</ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content>
           Build a mobile app for software engineering using scrum methodology. The app is called a Breathe app
           and it allows user to cool down a bit.
        </ion-card-content>
      </ion-card>
      
    <ion-card>
        <ion-card-header>
            <ion-card-title>Upcoming Task</ion-card-title>
            <ion-card-subtitle>Pickup printing materials</ion-card-subtitle>
                  
        </ion-card-header>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Penang</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          Pickup the report printed at nearby shop.
        </ion-card-content>
      </ion-card>

      <ion-card>
            <ion-card-header>
                <ion-card-title>Reminder</ion-card-title>
                <ion-card-subtitle>Take a time to breathe</ion-card-subtitle>
              
            </ion-card-header>
          
            <ion-card-content>
               Whoa.. slow down there buddy. you are doing too much work. 
               A hardworking person still needs a little time for himself, so take a break.
            </ion-card-content>
          </ion-card>
      
      
  </ion-content>
  